body {
  background-color: black;
  display: flex;
justify-content: center;
margin-top: 10%;
  align-items: center;
  color:white;
}

.link {
   
  padding: 20px;
  font-size: 45px;
  color:white;
  text-decoration: none;
  
}
